h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
}


ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
}

h2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: #2e2f42;
}

h3 {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}

img {
	display: block;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #434455;
	background-color: #ffffff;
}

.section {
	padding: 120px 0;
	min-width: 100vh;
}

.section-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: #2e2f42;

	margin-bottom: 72px;
}

	.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-text {
	color: #434455;
	font-size: 16px;
	letter-spacing: 0.02em;
 }

.container {
	max-width: 1158px;
	padding: 0 15px;
	margin: 0 auto;
}

/* HEADER */
.header-section {
	border-bottom: 1px solid #e7e9fc;
}

.header-section .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
} 

.page-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.page-nav .menu-link {
	padding: 24px 0;
	font-weight: 500;
	color: #2e2f42;
	letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
	color: #404bbf;
}

.logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
}

.header-section .logo {
	margin-right: 76px;
}

.logo-span {
	color: #2E2F42;
}

.menu {
	display: flex;
	gap: 40px;
}

.menu-link {
display: block;
padding-top: 24px;
padding-bottom: 24px;
}

/* CONTACTS */

.address-link-header {
font-style: normal;
}

.address-menu {
	display: flex;
	gap: 40px;
}

.link-address-item {
		color: #434455;
		letter-spacing: 0.02em;
}

.link-address-item:hover,
.link-address-item:focus {
	color: #404bbf;
}

/* HERO */

.welcome-section {
  background-color: #2e2f42;
  height: 600px;
  padding: 188px 0;
		background-image: linear-gradient(rgba(46, 47, 66, 0.7),
					rgba(46, 47, 66, 0.7)),
				url(../images/logo/office.jpg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
			max-width: 1440px;
}

.page-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.btn {

	background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border: none;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

			display: block;
				border-radius: 4px;
				padding: 16px 32px;
				min-width: 169px;
				height: 56px;
				margin: 0 auto;
}

.btn:hover,
.btn:focus {
	background-color: #404bbf;
}

/* ============= BENEFITS ============== */

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.benefits-icons {
	display: flex;
	gap: 24px;
	margin-bottom: 8px;
}

.background-items-list {
	display: flex;
		justify-content: center;
		align-items: center;
		background-color: #f4f4fd;
		border: 1px solid #8e8f99;
		border-radius: 4px;
		width: 264px;
		height: 112px;
		margin-bottom: 8px;
}

.section-list {
	display: flex;
	gap: 24px;
}

.section-list li.section-list-item {
	flex-basis: calc((100% - 72px) / 4);
}

 /* ============= REVIEWS ============== */

 .section-our-team {
	background: #f4f4fd;
	text-align: center;
	min-width: 100vh;
}

.section-list {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 24px;
}

.member-card {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #ffffff;
  width: calc((100% - 3 * 24px) / 4);
}

.card-descr {
	padding: 32px 0;
}

.social-app {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}

.social-app-icons {
	display: block;
	width: 40px;
	height: 40px;

}

.svg-social-app {
fill: #f4f4fd;
}

.social-app-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50% 50%;
  background-color: #4d5ae5;
}

.social-app-links:hover,
.social-app-links:focus {
	background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-text-our-team {
margin-bottom: 8px;
}

 /* ========== APPLICATIONS =========  */

 .portfolio-list {
	flex-wrap: wrap;
	row-gap: 48px;
}

.portfolio-card {
	flex-basis: ((100% - 48px) / 3);
}

.portfolio-card .card-description {
	padding: 32px 16px;
	border: 1px solid #E7E9FC;
	border-top: none;
}

/* FOOTER */

.footer-background {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-list {
  display: flex;
  align-items: baseline;
}
.footer-first-box {
  margin-right: 120px;
}
.logo-link-footer {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}
.footer-part-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
.title-social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-list-contact {
  display: flex;
  gap: 16px;
}
.footer-list-item {
  width: 40px;
  height: 40px;
}
.footer-link-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50% 50%;
  background-color: #4d5ae5;
}
.footer-link-contact:hover,
.footer-link-contact:focus {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact-icon {
  fill: #f4f4fd;
}