body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #434455;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}


ul {
	list-style-type: none;
}

h2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: #2e2f42;
}

h3 {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}

/* HEADER */

.page-nav .menu-link {
		font-weight: 500;
			color: #2e2f42;
			letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
	color: #404bbf;
}

.page-logo {
		font-family: "Raleway", sans-serif;
		font-weight: 700;
		font-size: 18px;
		line-height: 1.17;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: #4d5ae5;
}

.page-logo-option {
		color: #2e2f42;
}

.menu-link {

font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* CONTACTS */

.address-link-header {
font-style: normal;
}

/* .link-header {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
} */

.link-address-item {
		color: #434455;
		letter-spacing: 0.02em;
}

.link-address-item:hover,
.link-address-item:focus {
	color: #404bbf;
}

/* HERO */

.btn {
	font-weight: 500;
	letter-spacing: 0.04em;
	color: #ffffff;
	line-height: 1.5;
	background: #4d5ae5;
	cursor: pointer;
}

.btn:hover,
.btn:focus {
	background-color: #404bbf;
}

.origin-section {
	background: #2e2f42;
}

.main-title {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	letter-spacing: 0.02em;
	text-align: center;
	color: #ffffff;
}

.subtitle-text {
 	color: #2e2f42;
 	font-size: 20px;
	line-height: 1.2;
 	letter-spacing: 0.02em;
 }

 .subtitle-text-paragraph {
	letter-spacing: 0.02em;
 }

 .our-team-section {
	text-align: center;
	background: #f4f4fd;
 }

 .text-team {
	letter-spacing: 0.02em;
 }

 .team-description {
	background-color: #ffffff;
 }

/* FOOTER */

.page-footer {
		background: #2e2f42;
}

.page-footer-logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
}

 footer .page-footer-logo-option {
	color: #f4f4fd;
}

.page-footer-text {
		font-weight: 400;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: #f4f4fd;
}