h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
}


ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
}

h2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: #2e2f42;
}

h3 {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}

img {
	display: block;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #434455;
	background-color: #ffffff;
}

.section {
	padding: 120px 0;
}

.section-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: #2e2f42;

	margin-bottom: 72px;
}

	.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-text {
	color: #434455;
	font-size: 16px;
	letter-spacing: 0.02em;
 }

.container {
	max-width: 1158px;
	padding: 0 15px;
	margin: 0 auto;
}

/* HEADER */

.header-section {
	border-bottom: 1px solid #e7e9fc;
}

.header-section .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
} 

.page-nav {
	display: flex;
	align-items: center;
}

.page-nav .menu-link {
	padding: 24px 0;
	font-weight: 500;
	color: #2e2f42;
	letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
	color: #404bbf;
}

.logo {
		font-family: "Raleway", sans-serif;
		font-weight: 700;
		font-size: 18px;
		line-height: 1.17;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: #4d5ae5;
		margin-right: 76px;
}

.logo-span {
		color: #2e2f42;
}

.menu {
	display: flex;
	gap: 40px;
}

.menu-link {
display: block;
padding-top: 24px;
padding-bottom: 24px;
}

/* CONTACTS */

.address-link-header {
font-style: normal;
}

.address-menu {
	display: flex;
	gap: 40px;
}

.link-address-item {
		color: #434455;
		letter-spacing: 0.02em;
}

.link-address-item:hover,
.link-address-item:focus {
	color: #404bbf;
}

/* HERO */

.welcome-section {
	background: #2e2f42;
	padding: 188px 0;
}

.page-title {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	letter-spacing: 0.02em;
	color: #ffffff;
	max-width: 496px;
	margin-bottom: 48px;
}

.btn {
	display: block;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	letter-spacing: 0.04em;
	color: #fff;
	line-height: 1.5;
	background-color: #4d5ae5;
	cursor: pointer;
	border-radius: 4px;
	border: none;
	height: 56px;
	min-width: 169px;
}

.btn:hover,
.btn:focus {
	background-color: #404bbf;
}

/* ============= BENEFITS ============== */

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.section-list {
	display: flex;
	gap: 24px;
}

.section-list li {
	flex-basis: calc((100% - 72px) / 4);
}

 /* ============= REVIEWS ============== */

 .section-our-team {
	background: #f4f4fd;
	text-align: center;
}

.member-card {
	background-color: #FFFFFF;
	border-radius: 0 0 4px 4px;
}

.card-descr {
	padding: 32px 0;
}

 /* ========== APPLICATIONS =========  */

 .portfolio-list {
	flex-wrap: wrap;
	row-gap: 48px;
}

.portfolio-card {
	flex-basis: ((100% - 48px) / 3);
}

.portfolio-card .card-description {
	padding: 32px 16px;
	border: 1px solid #E7E9FC;
	border-top: none;
}

/* FOOTER */

.footer {
	background: #2e2f42;
	padding: 100px 0;
}

.footer-text  {
	color: #f4f4fd;
	letter-spacing: 0.02em;
	max-width: 264px;
}

.footer .logo-span {
	color: #F4F4FD;
}

.footer .logo {
	display: inline-block;
	margin-bottom: 16px;
}